body {
  background-color: rgb(187, 176, 176);
}

#counter {
  background-color: rgb(240, 117, 47);
  border: 1px solid #000;
}

div {
  background-color: rgb(172, 235, 240);
  border: 1px solid #000;
}

.btn-1 {
  background-color: rgb(209, 241, 225);
  border: 1px solid #444;
}
.btn {
  background-color: salmon;
  border: 3px solid #444;
}
